DISCORD_BOT_TOKEN= "PUT THE BOT TOKEN HERE
ADMIN_ID= "PUT YOUR DISCORD ID NUMBER HERE"
CONTEXT_LIMIT=16
COMMAND_PREFIX=&
RANDOMCHANNELS=[ PUT A LIST OF CHANNELS TO AUTORESPOND TO HERE ]
AUTORESPONSE=["clanker", "bot", "llm"]
AUTORESPONSE_EMOJI="\U0001F916"
